@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


body {
    font-family: 'Poppins', sans-serif;    color: white;


}


form {
    background-color: #AD2A5A;
    padding: 50px;
    border-radius: 50px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 50px;
}


label, input {
    display: block;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;


}
label {
    font-weight: bold;
}


input[type="submit"] {
    background-color: white;
    color: #AD2A5A;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
}


input[type="submit"]:hover {
    background-color: #fff4f4;
    font-family: 'Poppins', sans-serif;
   
}
#data{
    height: 20px;
    width: 175px;
}
    #logo{
     height: 115px;
    margin-left: 0,75%;
    }
    #aqui
    {
        color: aliceblue;
    }
